@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    font-family: sans-serif, system-ui, -apple-system ;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    @apply bg-slate-50 text-slate-950;
  }

  html[lang="fa"] body,
  html[dir="rtl"] body {
    font-family: var(--font-vazir), Arial, system-ui, -apple-system, sans-serif;
  }

  .dark body {
    @apply bg-slate-950 text-slate-50;
  }
}

* {
  box-sizing: border-box;
  scroll-margin-top: 64px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer !important;
}